@media (max-width: 1030px) {
    /* ----------меню---------- */
    .menu-box nav {
        display: none;
    }
    .burger {
        display: block;
    }
    .burger-line {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 69px;
        height: 69px;
        gap: 6px;
        background-color: white;
        border-radius: 50%;
    }

    .burger-line li {
        list-style-type: none;
        width: 29px;
        height: 3px;
        background-color: #86B119;
    }
    /* ------------header------------ */
    .header-elements {
        display: none;
    }
    .heder-desc_main {
        font-size: 26px;
    }
    .heder-desc_dop1,
    .heder-desc_dop2 {
        font-size: 14px;
    }

      /* -------- see-form ------- */

    .see-form .contains {
        max-width: 778px;
      }
    .tree {
        max-width: 778px;
        top: -10px;
        left: calc((100% - 778px) / 2 - 100px);
    }
    .see-form .contains::after {
        display: none;
    }
    .action {
        font-size: 18px;
        font-weight: 800;
    }
    .see-form form {

    }
    .form-in-left {
        width: 100%;
    }
    .see-form input {
        width: 320px;
        max-width: 320px;
    }

    /* ------benefits------- */

    .benefits .contains {
        max-width: 778px;
    }
    .benefits-header {
        font-size: 22px;
    }
    .benefits-content {
        gap:18px;
    }
    .benefit {
        min-width: 360px;
        width: calc((100% - 18px*2)/2);
    }
    .benefit-pic {
        margin: 10px;
        width: 53px;
        height: 49px;
    }
    .benefit-description {
        padding: 11px;
        max-width: 283px;
        gap: 10px;
    }
    .benefit-description-title {
        font-size: 14px;
    }
    /* --------- scelet --------- */

    .scelet {
        padding: 53px 20px 600px;
    }
    .scelet .contains {
        max-width: 778px;
    }
    .scelet-title {
        font-size: 21px;
        font-weight: 800;
    }
    .scelet-content-item {
        max-width: 306px;
    }
    .scelet-content-text {
        font-size: 14px;
    }
    .scelet::after {
        top: 170px;
    }
    .scelet::before {
        bottom: 136px;
    }
    .scelet .contains::after {
        width: 130%;
        bottom: -494px;
    }
    .scelet .btn {
        position: absolute;
        bottom: -520px;
    }
    /* ------features------- */

    .features .contains {
      width: 100%;
      max-width: 800px;
    }

    .tree4 {
      display: block;
    }
    .tree2 {
      display: none;
    }
    .features-content-item:nth-child(7){
      z-index: 0;
    }

    .bathhouse {
      width: calc((100% - 19px)/2);
  }


    .projects-catalog {
      flex-wrap: nowrap;
    }

    .project:nth-child(4) {
      display: none;
    }

    .video-cloud {
      height: 100px;
    }

    .video-contains::after {
      bottom: 80px;
      font-size: 24px;
    }

    .rabochij {
      width: 250px;
      height: 100%;
      bottom: 0;
      right: -50px;
    }
    .footer {
      gap: 40px;
    }
    .menu-footer {
        flex-wrap: wrap;
    }
    .copy-footer-left {
        display: none;
    }
}

@media (max-width: 800px) {
    .see-form form {
     justify-content: center;
    }
    .benefit {
    min-width: 100%;
    width: 100%;
    align-items: center;
    flex-direction: column;
}
   .benefit-description {
    padding: 24px;
    max-width: 100%;
    text-align: center;
  }
  .scelet-content {
    gap: 5px;
  }
  .scelet-content-item {
    padding: 18px 18px;
  }
  .features-content-item:nth-child(6){
    z-index: 0;
  }
  .features-content-item-box,
  .features-content-item {
    min-width: 100%;
    width: 100%;
    align-items: center;
    text-align: center;
  }
  .features {
   padding-bottom: 20px;
  }
  .video-contains::after {
    bottom: 70px;
    font-size: 22px;
  }

  .rabochij {
    width: 175px;
    height: 100%;
    bottom: 0;
    right: -50px;
  }
  .video-box img:nth-child(2) {
    width: 70px;
    height: 70px;
    top: calc(50% - 35px);
    left: calc(50% - 35px);
  }

  .reviews-border {
    flex-wrap: wrap;
  }

  .bathhouses-view {
    width: 100vw;
    position: relative;
    left: -20px;
    padding: 66px 0 92px;
    height: 700px;
  }

  .bathhouses {
    width: 200%;
    margin-left: calc(0px - (200% - 100%) / 2);
    position: relative;
    flex-direction: row;
    flex-wrap: nowrap;
    gap: 11px;
    padding: 0;
  }

  .bathhouse {
    position: absolute;
    min-width: calc((100% - 11px * 2) / 3);
    width: calc((100% - 11px * 2) / 3);
    left: 0;
    top: 0;
    overflow: hidden;
    display: none;
  }
  .bathhouse.active {
    display: block;
  }

  .bathhouse.left {
    left: 0;
  }
  .bathhouse.center {
    left: calc((100% - 11px * 2) / 3 + 11px);
  }
  .bathhouse.right {
    left: calc(100% - (100% - 11px * 2) / 3);
  }

.bathhouse-pic {
  height: 300px;
}
.bathhouse-pic .img {
  background-size: cover;
  width: 100%;
  height: 100%;
}

  .reviews-left {
    max-width: 100%;
    width: 100%;
    padding: 10px;
    gap: 13px;
  }

  .reviews-right {
    padding-right: 0;
  }
  .reviews-right img.temp {
    left: calc(50% - 35px);
}
  .projects-catalog {
    overflow-x: scroll;
  }
  .modal-contact {
    width: calc(100% - 20px * 2);
    left: 20px;
  }
  .footer,
  .copy-footer,
  .menu-footer,
  .menu-footer nav {
    flex-direction: column;
    align-items: center;
    gap: 11px;
  }
  .footer-br {
    margin: 20px 0 0;
    display: block;
    width: 232px;
    height: 1px;
  }
  .br {
    width: 100%;
    height: 100%;
    background-image: url(../images/br.png);
    background-repeat: no-repeat;
  }
}

@media (max-width: 500px) {
  .logo {
    width: 67px;
  }
  .menu-tel_num {
    font-size: 14px;
  }
  .menu-tel_img {
    width: 16px;
    height: 15px;
}
.burger-line {
  width: 48px;
  height: 48px;
  gap: 5px;
}
.burger-line li {
  width: 20px;
  height: 2px;
}

.header {
  width: 100%;
  display: flex;
  justify-content: start;
  align-items: center;
  flex-direction: column;
}
.heder-desc {
  width: 100%;
  padding: 8% 0 356px;
}
header::after {
  background-size: 100%;
  background-position: center;
  width: 100%;
  height: 50%;
  bottom: 0;
  right: 0;
}
.header-elements {
  position: relative;
  display: block;
  width: 100%;
  height: 150px;
}
.calc {
  width: 56px;
  height: 56px;
  left: 20px;
  top: 50px;
}
.second-tel {
  position: absolute;
  border-radius: 50%;
  width: 56px;
  height: 56px;
  right: 20px;
  top: 50px;
  background-color: #86B119;
  cursor: pointer;
}
.second-tel-pic {
  background-image: url(../svg/phone2.svg);
  background-repeat: no-repeat;
  background-size: contain;
  width: 50%;
  height: 50%;
  cursor: pointer;
  margin-top: 15px;
  margin-left: 15px;
}
.scelet {
  padding: 53px 20px 100px;
}
.scelet-content {
  flex-direction: column;
  gap: 250px;
}
.scelet-content-item {
  max-width: 100%;
}
.scelet .btn {
  bottom: -70px;
}
/* .scelet::before {
  background-position: center;
  background-size: cover;
  width: 100%;
  height: 100%;
  left: 0;
  bottom: 0;
} */
.scelet::after {
  background-position: center;
  background-size: contain;
  width: 100%;
  height: 100%;
  left: 0;
  top: 40px;
}

.features-header {
  width: 250px;
  margin: 0 auto;
  padding: 56px 0;
  font-size: 24px;
}
.bathhouse-pic {
  height: 150px;
}

.benefits {
  padding-top: 50px;
}
.benefits-header {
  padding-top: 10px;
}

.benefits {
  background: linear-gradient(to bottom, #f9f9f9 0%, #ffffff 20%, #ffffff 80%, #f9f9f9 100%);
}

.catalog-header {
  padding-top: 70px;
}

.projects {
  padding: 70px 0 0;
}

.project-parametrs {
  flex-wrap: wrap;
  gap: 10px;
}
.project-parametrs .item {
   min-width: 130px;
}
.projects-pic {
  height: 150px;
}
.projects-prev {
  bottom: 7px;
}
.preview {
    width: 64px;
    height: 35px;
}
.rabochij {
  width: 144px;
  right: -41px;
}
.video-contains::after {
  bottom: 50px;
  left: 10px;
  font-size: 14px;
}
.video-box img:nth-child(2) {
  width: 38px;
  height: 38px;
  top: calc(50% - 20px);
  left: calc(50% - 20px);
}

.slider-arrows {
  display: none;
}
.reviews-right {
  display: none;
}
.reviews-box {
  padding: 71px 20px;
}
.reviews-noborder {
  padding: 10px;
  background-color: transparent;
}
.reviews-border {
  border: none;
  background-color: transparent;
  /* display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  flex-wrap: nowrap; */
}
.reviews-left {
  text-align: center;
}

.reviews-left-pic {
  text-align: center;
  width: 100%;
  height: 65px;
  border: none;
  order: -1;
}

.reviews-left-pic img{
  width: 60px;
  height: 60px;
  margin: 2px 5px;
}
.bubble {
  display: flex;
  justify-content: center;
  gap: 8px;
}
.bubble-item {
  width: 11px;
  height: 11px;
  border-radius: 50px;
  box-sizing: border-box;
  border: 1px solid rgb(233, 233, 233);
}
.active-bubble {
  background: rgb(150, 193, 42);
}
.contacty {
 height: 850px;
}

.contact-content {
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding-bottom: 30px;
}
.contact-item {
  gap: 10px;
}
.modal-contact {
  padding-bottom: 30px;
}
}
@media (max-width: 350px) {
  .heder-desc_main {
    font-size: 24px;
}
.heder-desc {
  display: flex;
  flex-direction: column;
  align-items: center;
}

/* Какие еще рабочие методы центровки кнпоки "btn btn-green", кроме флекса? Пробовал и text-align и width: 0 auto - не помогало. Это за-за тега а? */

.see-form {
  padding: 20px 20px 20px;
}
.see-form form {
  font-size: 16px;
}
.see-form input {
  font-size: 14px;
}
/* В форме обрезается ФИО */

.scelet {
  padding: 0px 20px 100px;
}
.scelet .btn {
    bottom: -90px;
}
.bathhouse-name {
  font-size: 14px;
}
.bathhouse-data,
.bathhouse-text {
  font-size: 12px;
}
/* Слева от описания скролл */

.bathhouse-sale {
  flex-direction: column;
}
.bathhouse-sale .btn {
  width: 239px;
}
}