:root {
  --color-green: #86B119;
  --color-black: #2A2A2A;
}
@font-face {
  font-family: 'NotoSans';
  src: url(../fonts/NotoSans-Regular.ttf);
  font-weight: 400;
}
@font-face {
  font-family: 'NotoSans';
  src: url(../fonts/NotoSans-SemiBold.ttf);
  font-weight: 600;
}
@font-face {
  font-family: 'NotoSans';
  src: url(../fonts/NotoSans-Bold.ttf);
  font-weight: 700;
}

body {
  width: 100%;
  font-family: 'NotoSans';
}
header,
article,
footer {
  width: 100%;
  overflow: hidden;
}
.contains{
  width: 100%;
  max-width: 1390px;
  margin: 0 auto;
  padding: 0 20px;
}

/* ---------- menu ------------ */

.menu {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.logo {
  display: block;
  width: 109px;
  /* height: 94px; */
}
.logo img {
  width: 100%;
}
.menu-box {
  width: 100%;
  display: flex;
  font-size: 18px;
  justify-content: flex-end;
  align-items: center;
  gap: 80px;
}
.menu-box nav {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  gap: 80px;
}
.menu-tel {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  gap: 10px;
}
.menu-tel_img {
  width: 28px;
  height: 27px;
}
.menu-tel_img img {
  width: 100%;
  height: 100%;
}

.menu-tel_num {
  font-size: 24px;
  font-weight: 400;
}
.menu-active {
  border-bottom: 2px solid var(--color-green);
}
.menu-active a {
  color: var(--color-green);
}
.burger {
  display: none;
}
/* ------- header ---------- */

header {
  width: 100%;
  position: relative;
  background-image: url(../images/header-fone.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  z-index: 0;
}
header::after {
  content: '';
  background-image: url(../images/header-house.png);
  position: absolute;
  background-repeat: no-repeat;
  background-size: contain;
  background-position: right;
  width: 60%;
  height: 85%;
  /* top: 150px; */
  bottom: 0;
  right: 0;
  z-index: -1;
}
/* при уменьшении экрана, облака не следуют за сжимающимся домом у которого contain, а не cover. В случае. когда у дома cover они идут вместе по горизонтали, но дом не уменьшается по вертикали */
header::before {
  content: '';
  background-image: url(../images/clouds.png);
  position: absolute;
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  height: 20%;
  bottom: 0px;
  z-index: 0;
}
.header {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.heder-desc {
  width: 60%;
  padding: 8% 0 15%;
  z-index: 1;
}
.heder-desc_main {
  width: 90%;
  font-size: 45px;
  font-weight: 800;
  max-width: 820px;
}
.heder-desc_dop1,
.heder-desc_dop2 {
  width: 90%;
  font-size: 20px;
  padding: 10px 0;
  font-weight: 400;
  max-width: 652px;
  margin-bottom: 20px;
}
.btn {
  padding: 10px 30px;
  max-width: 252px;
  box-shadow: 4px 4px 8px 0px rgba(34, 60, 80, 0.2);
  cursor: pointer;
  color: white;
}
.btn-green {
  border: 1px solid var(--color-green);
  border-radius: 50px;
  background: linear-gradient(180deg, #96C12A 0%, #84AE19 100%);
  box-shadow: 0px 4px 4px 0px #63850E;
}

.calc {
  position: absolute;
  width: 88px;
  height: 88px;
  right: 256px;
  top: 100px;
}
.calc-pic {
  background-image: url(../svg/calculator.svg);
  background-repeat: no-repeat;
  background-size: contain;
  width: 100%;
  height: 100%;
  cursor: pointer;
}

/* -------- see-form ------- */

.see-form {
  position: relative;
  background: linear-gradient(to bottom, #f9f9f9 0%, #ffffff 20%, #ffffff 100%);
  /* padding-top: 70px; */
  z-index: 0;
  padding: 70px 20px 20px;
}
.see-form .contains {
  position: relative;
  background-color: #ffffff;
  box-shadow: 0px 0px 50px 0px rgba(0,0,0,0.1);
  padding: 57px;
  border-radius: 14px;
  z-index: 0;
}
.action {
  font-size: 28px;
}
.action span {
  color: var(--color-green);
}
.see-form form {
  margin-top: 24px;
  display: flex;
  justify-content: flex-start;
  gap: 17px;
  font-size: 18px;
}
.see-form input {
  width: 316px;
  max-width: 316px;
  outline: none;
  background-color: #F3F3F3;
  border: 1px solid #F3F3F3;
  border-radius: 50px;
  box-shadow: none;
  color:#2A2A2A;
  font-size: 16px;
  padding: 20px 30px;
  text-align: left;
}
.see-form button {
  width: 261px;
  max-width: 261px;
}

.tree {
  position: absolute;
  background-image: url(../images/tree.png);
  background-repeat: no-repeat;
  background-size: contain;
  background-position: left;
  max-width: 1400px;
  margin: 0 auto;
  width: 100%;
  height: 100%;
  top: -30px;
  left: calc((100% - 1400px) / 2 - 100px);
  /* left: -30px; */
  z-index: -1;
}
/* .see-form::before {
  content: '';
  position: absolute;
  background-image: url(../images/tree.png);
  background-repeat: no-repeat;
  background-size: contain;
  background-position: left;
  width: 100%;
  height: 100%;
  top: -30px;
  left: -30px;
  z-index: -1;
} */

.see-form .contains::after {
  content: '';
  position: absolute;
  background-image: url(../images/form-worker.png);
  background-repeat: no-repeat;
  background-size: contain;
  background-position: right;
  width: 100%;
  height: 100%;
  bottom: 0;
  right: 0;
  z-index: -1;
}

form,
.see-form-in {
  width: 100%;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
.form-in-left,
.form-in-right {
  width: 80%;
}
/* .form-worker {
  position: absolute;
  width: 388px;
  height: 274px;
  top: 56px;
  right: -33px;
}
.form-worker-pic {
  background-image: url(../images/form-worker.png);
  background-repeat: no-repeat;
  background-size: contain;
  background-position: right;
  width: 90%;
  height: 90%;
} */

/* ------benefits------- */

.benefits {
  padding-top: 109px;
  padding-bottom: 89px;
}
.benefits-header {
  padding: 72px 0 30px;
  font-size: 32px;
  font-weight: 800;
  text-align: center;
}
.benefits-header span {
  color: var(--color-green);
}
.benefits-content {
  padding-top: 33px;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 20px;
}
.benefit {
  min-width: 430px;
  width: calc((100% - 20px*2)/3);
  border-radius: 14px;
  border: 1px solid rgba(189, 189, 189, 0.50);
  background: rgba(255, 255, 255, 0.00);
  display: flex;
}
.benefit-pic {
  margin: 10px;
  width: 50px;
  height: 50px;
}
.pic-one {
  margin-top: 12px;
  background-image: url(../svg/1.svg);
  background-repeat: no-repeat;
  width: 100%;
  height: 100%;
}
.pic-two {
  margin-top: 12px;
  background-image: url(../svg/2.svg);
  background-repeat: no-repeat;
  width: 100%;
  height: 100%;
}
.pic-three {
  margin-top: 12px;
  background-image: url(../svg/3.svg);
  background-repeat: no-repeat;
  width: 100%;
  height: 100%;
}
.pic-four {
  margin-top: 12px;
  background-image: url(../svg/4.svg);
  background-repeat: no-repeat;
  width: 100%;
  height: 100%;
}
.pic-five {
  margin-top: 12px;
  background-image: url(../svg/5.svg);
  background-repeat: no-repeat;
  width: 100%;
  height: 100%;
}
.pic-six {
  margin-top: 12px;
  background-image: url(../svg/6.svg);
  background-repeat: no-repeat;
  width: 100%;
  height: 100%;
}
.benefit-description {
  padding: 24px;
  max-width: 365px;
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.benefit-description-title {
  font-weight: 800;
}
.benefit-description-text {
  font-size: 14px;
  color: #767676;
}

/* --------- scelet --------- */

.scelet {
  width: 100%;
  padding: 53px 20px 85px;
  position: relative;
  background-image: url(../images/scelet-fone.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background: linear-gradient(to bottom, #f9f9f9 0%, #ffffff 20%, #ffffff 100%);
  z-index: 0;
}
.scelet::after {
  position: absolute;
  content: '';
  background-image: url(../images/scelet-house.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  z-index: -1;
}
.scelet::before {
  position: absolute;
  content: '';
  background-image: url(../images/clouds-scelet01.png);
  background-repeat: no-repeat;
  background-position: left;
  background-size: cover;
  width: 100%;
  height: 40%;
  left: 0;
  bottom: 0;
  z-index: -1;
}

/* Не много не понял, как другие облака добавить, поэтому эти растянул на 100% */

.scelet .contains {
  position: relative;
  display: flex;
  flex-direction: column;
  /* justify-content: center; */
  align-items: center;
  row-gap: 64px;
  z-index: 0;
}
.scelet .contains::after {
  content: '';
  position: absolute;
  display: block;
  margin: 0 auto;
  width: 900px;
  height: 200px;
  background-image: url(../images/clouds.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  bottom: 50px;
  z-index: 0;
}

.scelet-title {
  width: 100%;
  text-align: center;
  font-size: 32px;
}
.scelet-title span {
  color: var(--color-green);
}

.scelet-content {
  width: 100%;
  display: flex;
  justify-content: space-between;
}
.scelet-content-left,
.scelet-content-rigth {
  display: flex;
  flex-direction: column;
  row-gap: 22px;
}
.scelet-content-item {
  padding: 18px 36px;
  display: flex;
  gap: 12px;
  max-width: 398px;
  justify-content: space-between;
  border: 1px solid #ddd;
  background-color: white;
  box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.1);
  border-radius: 14px;
  transform: skewX(-10deg);
  z-index: 1;
}
.scelet-content-item img,
.scelet-content-item div {
  transform: skewX(10deg);
}
.scelet .btn {
  max-width: 506px;
  cursor: pointer;
  z-index: 1;
}
/* --------features---------- */

.features {
  width: 100%;
  position: relative;
  background-image: url(../images/features-fone.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
.features-header {
  padding: 128px 0 72px;
  text-align: center;
  font-size: 32px;
  font-weight: 800;
}
.features-header span {
  color: var(--color-green);
}
.features-content {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 30px;
}
.features-content-item {
  position: relative;
  min-width: 300px;
  width: calc((100% - 30px*3)/4);
  border-radius: 14px;
  background: #FFF;
  box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.10);
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  z-index: 1;
}
.features-content-item-box {
  position: relative;
  min-width: 300px;
  width: calc((100% - 30px*3)/4);
  z-index: 1;
}
.features-content-item-box .features-content-item {
  width: 100%;
  height: 100%;
}
.features-content-item-tree {
  position: absolute;
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
  z-index: -1;
}
.tree1 {
  width: 340px;
  height: 320px;
  top: -120px;
  left: -120px;
  background-image: url(../images/tree-2.png);
}
.tree2,
.tree4 {
  width: 250px;
  height: 285px;
  top: -120px;
  right: -100px;
  background-image: url(../images/tree-3.png);
}
.tree4 {
  display: none;
}
.tree3 {
  width: 220px;
  height: 200px;
  bottom: -90px;
  left: -90px;
  background-image: url(../images/tree-4.png);
}

.features-item-description {
  display: flex;
  flex-direction: column;
  gap: 15px;
  padding: 0px 30px 40px 30px;
}
.description-title {
  display: block;
  font-weight: 800;
}
.description-text {
  display: block;
  font-size: 14px;
  color: #767676;
}
.features-item-header {
  margin: 32px 0 0 36px;
  display: flex;
  align-items: center;
  gap: 30px;
}
.features-item-header-left {
  height: 56px;
  width: 56px;
  background-color: var(--color-green);
  transform: skewX(-12deg);
  border-radius: 10px;
}
.features-item-header-left img {
  padding: 8px;
  transform: skewX(12deg);
}
.features-item-header-right {
  text-align: center;
  font-size: 69px;
  color: rgba(0, 0, 0, 0.05);
}


/* ---------catalog----------- */


.catalog {
  width: 100%;
  background-image: url(../images/catalog-fon.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover
}
.catalog-header {
  text-align: center;
  padding-top: 159px;
  font-size: 32px;
  font-weight: 800;
}
.catalog-header span {
  color: var(--color-green);
}

.bathhouses-view {
  width: 100%;
  overflow: hidden;
}

.bathhouses {
  display: flex;
  flex-direction: row;
  justify-content: center;
  flex-wrap: wrap;
  gap: 19px;
  padding: 66px 0 92px;
}
.bathhouse {
  /* min-width: 430px; */
  width: calc((100% - 19px*2)/3);
  display: flex;
  flex-direction: column;
  border-radius: 14px;
  background: #FFF;
  overflow: hidden;
}
.bathhouse-pic {
  width: 100%;
  height: 215px;
}
.bathhouse-pic .img {
 background-image: url(../images/dachnik.png);
 background-repeat: no-repeat;
 background-position: center;
 background-size: cover;
 width: 100%;
 height: 100%; 
}
.bathhouse-content,
.bathhouse-sale {
  padding: 0 35px 0 29px;
}
.bathhouse-header {
  padding-top: 18px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.bathhouse-name {
  font-size: 18px;
  font-weight: 800;
}
.bathhouse-data {
  display: flex;
  justify-content: flex-end;
  gap: 14px;
}
.bathhouse-person {
  display: flex;
  justify-content: space-between;
  gap: 5px;
}
.bathhouse-person-pic {
  width: 16px;
  height: 16px;
}
.bathhouse-person-pic .svg {
  background-image: url(../svg/user.svg);
  background-repeat: no-repeat;
  width: 100%;
  height: 100%;
}
.bathhouse-area {
  display: flex;
  justify-content: space-between;
  gap: 6px;
}
.bathhouse-area-pic {
  width: 16px;
  height: 16px;
}
.bathhouse-area-pic .svg {
  background-image: url(../svg/area.svg);
  background-repeat: no-repeat;
  width: 100%;
  height: 100%;
}
.bathhouse-text {
  padding: 20px 0 30px;
  color: #767676;
  font-size: 14px;
}
.bathhouse-sale {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 15px;
  padding-bottom: 32px;
} 
.bathhouse-sale .btn {
  width: 134px;
  border-radius: 50px;
  border: 1px solid #F3F3F3;
  background: #F3F3F3;
  color: #A8A8A8;
  box-shadow: 0px 4px 4px 0px #E9E9E9;
  font-size: 14px;
  padding: 10px 20px;
}
.bathhouse-sale .btn-green {
  width: 239px;
  font-size: 14px;
  color: #ffffff;
  padding: 10px 8px;
  border-radius: 50px;
  background: linear-gradient(180deg, #96C12A 0%, #84AE19 100%);
  box-shadow: 0px 4px 4px 0px #63850E;
  cursor: pointer;
}

/* ------- video ---------- */
.video {
  width: 100%;
  padding: 20px 0;
  background-color: #f5f5f2;
  position: relative;
  overflow: hidden;
}
.video-contains {
  background-color: white;
  box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 0.1);
  border-radius: 30px;
  padding: 28px;
  position: relative;
  z-index: 0;
}
.video-contains::after {
  position: absolute;
  content: 'Уютный дом 64, будем знакомы!';
  bottom: 150px;
  z-index: 1;
  font-size: 32px;
  text-align: center;
  width: 100%;
  color: white;
}
.video-box {
  width: 100%;
}
.video-box img {
  width: 100%;
}
.video-cloud {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 200px;
  background-image: url(../images/clouds.png);
  background-repeat: no-repeat;
  background-size: 100%;
  background-position: center;
}
img.temp {
  position: absolute;
  width: 110px;
  height: 110px;
  top: calc(50% - 55px);
  left: calc(50% - 55px);
}
.rabochij {
  position: absolute;
  width: 350px;
  height: 100%;
  bottom: 0;
  right: -50px;
  background-image: url(../images/Rabochij.png);
  background-repeat: no-repeat;
  background-size: 100%;
  background-position: bottom;
}
/* ------------projects------------- */

.projects {
  width: 100%;
  padding: 150px 0;
  background-color: #fefefd;
}
.projects-header {
  text-align: center;
  font-size: 32px;
  font-weight: 800;
}
.projects-header span {
  color: var(--color-green);
}
.projects-catalog {
  padding-top: 67px;
  display: flex;
  justify-content: center;
  gap: 37px;
  flex-wrap: wrap;
}
.project {
  display: flex;
  flex-direction: column;
  gap: 30px;
  min-width: 460px;
  /* min-width: 647px; */
  width: calc((100% - 56px)/2);
  background-color: white;
  box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.1);
  border-radius: 14px;
}
.projects-pic {
  position: relative;
  width: 100%;
  height: 340px;
}
.projects-pic .img {
  background-image: url(../images/banya01.png);
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  height: 100%;
}
.projects-prev {
  position: absolute;
  width: calc(100% - 35px * 2);
  display: flex;
  justify-content: space-between;
  gap: 14px;
  bottom: 30px;
  left: 35px;
}
.preview {
  width: 105px;
  height: 57px;
  border-radius: 6px;
  border: 1px solid white;
  box-sizing: border-box;
}
.project-title {
  font-size: 18px;
  font-weight: 800;
  padding: 0 34px;
}
.project-parametrs {
  display: flex;
  justify-content: space-between;
  font-size: 14px;
  padding: 0 34px;
}
.project-parametrs .text {
  font-size: 12px;
  color: #767676;
}
.project-parametrs .item {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.item .pic-right {
  font-weight: 600;
}
.item .pic-left {
  width: 16px;
  height: 16px;
}
.pic-left .svg {
  background-image: url(../svg/project-pic.svg);
  background-repeat: no-repeat;
  width: 100%;
  height: 100%;
}
.project-pic {
  display: flex;
  gap: 6px;
}
.project-bottom {
  display: flex;
  justify-content: space-between;
  gap: 30px;
  align-items: center;
  padding: 0 34px 34px;
}
.see-more {
  display: flex;
  justify-content: space-between;
  gap: 10px;
  align-items: center;
}
.see-more-text {
  font-size: 14px;
}
.arrow-svg {
  width: 22px;
  height: 15px;
}
.arrow {
  background-image: url(../svg/arrow.svg);
  background-repeat: no-repeat;
  width: 100%;
  height: 100%;
}
.project-btn {
  display: flex;
  flex-direction: column;
  gap: 3px;
  padding: 12px 16px;
  cursor: pointer;
  border-radius: 6px;
  background-color: #EEEEEE;
  border: 1px solid #EEEEEE;
}
.project-btn-top {
  font-size: 16px;
  font-weight: 800;
}
.project-btn-bottom {
  font-size: 14px;
}
/* -------reviews-------- */

.reviews {
  width: 100%;
  background-image: url(../images/reviews-fon.png);
  background-repeat: no-repeat;
  background-size: cover;
}
.reviews-header {
  background-image: url(../images/before-reviews-fon.png);
  background-repeat: no-repeat;
  background-size: cover;
  text-align: center;
  padding-top: 93px;
  font-size: 32px;
  font-weight: 800;
}
.reviews-header span {
  color: var(--color-green);
}
.reviews-slider {
  position: relative;
  width: 100%;
}
.reviews-box {
  padding: 71px 107px;
}
.reviews-noborder {
  padding: 28px 26px;
  background-color: white;
  border-radius: 14px;
}
.reviews-border {
  border: 1px solid #F0F0F0;
  background-color: white;
  border-radius: 14px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  flex-wrap: nowrap;
}
.reviews-left {
  max-width: 400px;
  width: calc(100% / 2);
  padding: 66px 0 53px 57px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 13px;
}
.reviews-left-title {
  font-size: 18px;
  font-weight: 800;
}
.reviews-left-description {
  color: #767676;
}
.reviews-left-pic {
  width: 88px;
  height: 88px;
  border: 4px dashed #EEEEEE;
}
.reviews-right {
  position: relative;
  padding-right: 37px;
}
img.temp-video {
  width: 100%;;
}
.reviews-right img.temp {
  position: absolute;
  width: 68px;
  height: 68px;
  top: calc(50% - 33px);
  left: calc(50% - 55px);
} 
.slider-arrows {
  width: 100%;
  position: absolute;
  display: flex;
  justify-content: space-between;
  top: calc(50% - 33px);
  left: 0;
}
.arrows-left,
.arrows-right {
  position: relative;
  width: 65px;
  height: 65px;
  background: linear-gradient(180.00deg, rgb(150, 193, 42),rgb(132, 174, 25) 100%);
  box-shadow: 0px 4px 4px 0px rgb(99, 133, 14);
  border-radius: 50px;
  cursor: pointer;
}
.slider-arrows .svg {
  position: absolute;
  width: 14px;
  height: 26px;
}
.arrows-left .svg {
  background-image: url(../svg/arrow-left.svg);
  background-repeat: no-repeat;
  background-size: contain;
  top: 22px;
  left: 23px;
}
.arrows-right .svg {
  background-image: url(../svg/arrow-right.svg);
  background-repeat: no-repeat;
  background-size: contain;
  top: 22px;
  right: 23px;
}
.bubble {
  display: none;
}
/* -------contacty--------- */

.contacty {
  position: relative;
  background-image: url(../images/map.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  width: 100%;
  height: 667px;
}
/* .modal-contact {
  position: absolute;
  left: 5%;
  top: 25%;
}
.active {
  position: relative;
  padding: 46px 0 64px 41px;
  max-width: 671px;
  width: 100%;
  background-color: white;
  box-shadow: 0px 0px 30px 0px rgba(0, 0, 0, 0.05);
  border: 1px solid #767676;
  border-radius: 14px;
} */

.modal-contact {
  display: none;
  position: absolute;
  left: 5%;
  top: 25%;
  padding: 46px 0 64px 41px;
  max-width: 671px;
  width: 100%;
  background-color: white;
  box-shadow: 0px 0px 30px 0px rgba(0, 0, 0, 0.05);
  border: 1px solid #767676;
  border-radius: 14px;
}
.modal-contact.active {
  display: block;
}
.contact-title {
  text-align: left;
  font-size: 32px;
  font-weight: 800;
}
.contact-content {
  display: flex;
  flex-direction: row;
  gap: 90px;
  padding: 39px 72px 0 0;
}
.contact-item {
  display: flex;
  flex-direction: column;
  gap: 27px;
}
.contact-item_box {
  display: flex;
  flex-direction: column;
  gap: 6px;
}
.contact-item_label {
  color: #767676;
  font-size: 12px;
}
.contact-item_text {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 4px;
}
.contact-item_text span {
  display: block;
  width: 16px;
  height: 22px;
}
.map-ico {
  background-image: url(../svg/map01.svg);
  background-repeat: no-repeat;
  width: 100%;
  height: 100%;
}
.contact-close {
  position: absolute;
  font-size: 60px;
  transform: rotate(45deg);
  top: 20px;
  right: 20px;
  cursor: pointer;
  color: #2A2A2A;
}
.contact-close:hover {
  color: red;
}
.karta {
  position: absolute;
  /* left: 1172px; */
  top: 70px;
  right: 70px;
  cursor: pointer;
}
/* ---------footer--------- */

.footer {
  width: 100%;
  background-color: white;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  gap: 10px;
}
.logo-footer {
  padding: 26px 0;
}
.menu-footer {
  display: flex;
  gap: 20px;
}
.menu-footer nav {
  font-size: 18px;
  display: flex;
  flex-direction: row;
  gap: 50px;
  white-space: nowrap;
}
.copy-footer {
  display: flex;
  flex-direction: row;
  gap: 30px;
  align-items: center;
  color: #767676;
}
.footer-br {
  display: none;
}